@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(129, 0, 86);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    
}
   
h1{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Playfair Display', serif;
    display: flex;
    margin: 1px;
    font-size:50px;
    display: block;
    
    /* align-items: center; */
    /* justify-content: left; */
    /* flex-direction: column; */
    /* height: 100%;
    width: 60%; */
   
    border-radius: 10;

    
      
}

.alinhar{
    position: relative;
}

form{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width: 800px;
height: 600px;
    background-color: rgb(119, 135, 143);
    border-radius: 20px;
    
}