*{
    margin: 30;
    padding: 30;
    
}
/* login */


body{
    background-image: rgb(189, 90, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;


    
}

  /* usuario */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid rgb(201, 45, 71); */
    background-color: rgb(191, 174, 186);
    width: 100%;
    height: 30%;

    
}

.container form{
    width: 100%;
    height: 100%;
}

.container form input[type]{

}
.container form input{
    border-radius: 5px;
}

#emailusuario{

}