@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: rgb(190, 42, 146);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    border: 1px solid rgb(90, 28, 50);
}
   
h1{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Playfair Display', serif;
    display: flex;
    margin: 50px;
    font-size:50px;
    display: block;
    /* align-items: center; */
    /* justify-content: left; */
    /* flex-direction: column; */
    height: 100%;
    width: 30%;
    border: 1px solid rgb(88, 19, 30);
    border-radius: 10;
}

