*{
    margin: 0;
    padding: 0;
}
/* login */
html,body{
    background-image: rgb(160, 60, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
/* usuario */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: rgb(190, 42, 146);
}
.container form{ 
    margin: 300px;
    border: 1px solid rgb(201, 45, 71);
    background-color: rgb(191, 174, 186);
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    height: 80%;
    /* height: 100%; */

    
}
.container form input[type]{

}
.container form input{
    border-radius: 5px;
}
#emailusuario{

}

h2{
    margin-top: -50px;
}